@model IEnumerable<City>

@*@{
    Layout = null;
}*@

@*<h2>@ViewData["param1"]</h2>
<p>@ViewBag.param3</p>*@

@{
     foreach (var item in @Model)
    {
        @Html.Raw("<li>" + item.Id + " - " + item.Name + "</li>");       
    }    
}


@{


    //var student = (ViewData["param4"] as City);
    //var id = student.Id;
    //var name = student.Name;

    //var student = (City)ViewData["param4"];
    //var student = (ViewData["param4"] as City);
    //var id = student.Id;
    //var name = student.Name;

    //var lst = (ViewData["param5"] as List<Student>);
    //foreach (var item in lst)
    //{
    //    //@Html.Raw("<li>" + item.Id + " - " + item.Name + "</li>");
    //    @item.Name;
    //}

}

@*<h3>@id</h3>
<h3>@name</h3>*@